
.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh; /* Make sure the container takes up the full viewport height */
    position: relative;
    text-align: center;
    overflow: hidden;
    
}
video{
    background: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7));
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    position: fixed;
    z-index: -1;
}

.hero-text{
    text-align: left;
    position: relative;
    color: white;
    z-index: 1;
    margin: 10 px auto 20 px; 
    padding-left: 5rem;
    font-weight:400;
    max-width: 800px;
}


.hero-text h1 {
    font-size: 7rem;
    font-family: 'Gilda Display'; 
    font-weight:400;
    margin-top: 1rem; 
}


.hero-text h2 {
    font-size: 2rem;
    font-family: 'Gafata', sans-serif;
    margin-bottom: 3rem; 
}

@media (max-width: 850px){
    .hero-text{
        padding-left: 3rem;
    }
    .hero-text h1 {
        font-size: 6rem;

    }
    
    .hero-text h2 {
        font-size: 1.5rem;
    }
}
@media (max-width: 700px){
    .hero-text h1 {
        font-size: 5rem;

    }
    
    .hero-text h2 {
        font-size: 1rem;
    }
}

