.blog-heading {
  font-size: 24px;
  color: #222;
  border-bottom: 1px solid #777;
}

.blogs-img {
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  top: 0;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0);
  transition: all 0.5s;
}

.blogs-img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hover-blogs-img:hover > .blogs-img {
  top: -7px;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 15px;
  color: #222 !important;
  font-weight: 800;
  font-family: "Poppins";
  text-decoration: none;
  display: block;
  margin-top: 0;
}

.category {
  display: inline-block;
  position: relative;
  background-color: #4287f5;
  padding: 4px 8px;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  text-transform: none;
  line-height: 16px;
  font-weight: 700;
  border-radius: 4px;
}

.fa-trash {
  color: #c43421 !important;
}

.fa-edit {
  color: lightsalmon !important;
}

.meta-info {
  font-size: 15px;
  color: #222;
  display: flex;
  align-items: center;
  font-family: "Poppins";
  text-decoration: none;
}

.blog-single-content .meta-info {
  margin-top: 8px;
  border-bottom: 1px solid #777;
  margin-bottom: 15px;
}

.author {
  display: inline-block;
  font-weight: 600;
  font-size: 15px !important;
}

.short-description {
  font-size: 14px;
  color: #777;
  margin: 10px 0;
}

.btn-read {
  background: var(--primary-hue) !important;
  border-radius: 0 !important;
  color: #fff !important;
  padding: 5px 10px !important;
  margin-top: 10px;
  font-size: 14px;
}
