.aim{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.aim-left{
    width: 40%;
}
.aim-right{
    flex-basis: 56%;
}
.aim-img{
    width: 100%;
    border-radius: 10px;
}

.aim h3{
    color:var(--primary-hue);
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
}

.aim h2{
    font-weight: 600;
    font-size: 22px;
    color: #000F38;
    margin-top: 5px;
    text-transform: none;
    margin-bottom: 50px;
}
.aim p{
    font-size: 18px;
}
