@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');

body {
    background-color: #F9FAFC !important;
}

.community-heading{
    font-family: 'Gafata', sans-serif;
    font-weight: bold;
}

.community-subheading{
    font-family: 'Gafata', sans-serif;
}

