.padding {
  padding: 2em 0;
}

.width {
  width: 80%;
  margin: 0 auto;
}

.logo {
  height: 56px;
}

@media (max-width: 768px) {
  .width {
      width: 90%;
  }
}

/* Stock.module.css */
.hide-navbar .navbar {
  display: none;
}

/* Define custom classes for text colors */
.primary-text {
  color: #007bff; /* Blue color */
}

.secondary-text {
  color: #6c757d; /* Gray color */
}

/* Define custom classes for background colors */
.bg-primary {
  background-color: #007bff; /* Blue background color */
}

.bg-secondary {
  background-color: #6c757d; /* Gray background color */
}
.custom-input input {
  color: black; /* Change the text color of the input */
  /* Add any other styles you want to apply to the input */
}
