/* src/components/Footer/Player/FooterPodcast.css */
.footer-podcast {
    background-color: white;
  }
  
  .footer-podcast-content {
    background-color: var(-primary-hue);
    border-top: 1px solid #e0e0e0; /* Adjust border color as needed */
  }
  