.profile-header-container {
    background-color: transparent; /* Remove blue background */
  }
  
  .dashboard-title {
    margin-bottom: 10px;
  }
  
  .dashboard-text {
    font-size: 20px;
    font-family: 'Gafata', sans-serif;
    color: #4299E1;
    font-weight: bold;
    animation: typewriter 3s steps(30, end);
    overflow: hidden;
    white-space: nowrap;
  }
  
  .greeting-text {
    font-family: 'Gafata', sans-serif;
    font-weight: bold;
    color: #3182CE;
    margin-top: 10px; /* Added margin to separate from dashboard title */
  }
  
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  