.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #797979;
    padding: 10px 30px;
    margin-bottom: 0;
}
.footer ul li{
    display: inline-block;
    margin-left: 20px;
    gap: 10px;
}
