@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gafata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --primary-hue: #1a65b5;
    --primary-hue-transparent: rgba(26, 101, 181, 0.3);
    --gray-hue: 240;
    --color-primary: hsl(var(--primary-hue), 100%, 50%);
    --color-primary-variant: hsl(var(--primary-hue), 100%, 65%);
    --color-secondary: #ffb116;
    --color-gray-100: hsl(var(--gray-hue), 47%, 94%);
    --color-gray-200: hsl(var(--gray-hue), 26%, 75%);
    --color-gray-300: hsl(var(--gray-hue), 24%, 64%);
    --color-gray-400: hsl(var(--gray-hue), 16%, 41%);
    --color-gray-500: hsl(var(--gray-hue), 44%, 25%);
    --color-gray-600: hsl(var(--gray-hue), 48%, 15%);
    --container-width-lg: 80%;
    --container-width-mg: 90%;
    --transition: all 500ms ease;
}

body {
    background: var(--color-primary);
}

.container {
    padding-left: 2%;
    padding-right: 0%;
}

.container_2 {
    padding-left: 15%;
    padding-right: 15%;
}

.btn {
  background: var(--primary-hue);
  color: white;
  padding: 10px 25px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gafata', sans-serif;
  font-weight: 400;
  transition: var(--transition);
  margin-left: auto;
}

.btn img {
  width: 20px;
  margin-left: 10px;
}

.btn:hover {
  outline: 2px solid var(--primary-hue);
  background-color: #fff;
  color: var(--primary-hue);
}

@media (max-width: 1375px) {
  .btn {
      font-size: 14px;
      padding: 10px 25px;
  }
}

@media (max-width: 1150px) {
  .btn {
      font-size: 13px;
      padding: 10px 25px;
  }
}

@media (max-width: 992px) {
  .btn {
      font-size: 13px;
      padding: 8px 20px;
  }
}

@media (max-width: 768px) {
  .btn {
      font-size: 12px;
      padding: 6px 15px;
  }
}

@media (max-width: 750px) {
  .btn {
      font-size: 11px;
      padding: 6px 15px;
  }
}

@media (max-width: 600px) {
  .btn {
      font-size: 10px;
      padding: 5px 10px;
  }
}

#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}
